.nav-me {
	/* background-color: #26B2BF #BDF7FC; */
	background-color: #D1F8FC;
}
.row-me {
	border: 1px solid #CECDCC;
	min-height: 100%;
	background-color: #fefefe;
}

.header-me {
background-color: #00BCD4;
}
.header-me h4, .panel-me h4, .panel-me h3, .main-panel-me h3, .main-panel-me h2{
color: #fff;
}

.main-panel-me {
	background-color: #FFFBF4;
}
.panel-me {
	min-height: 60px;
	background-color: #FCF1D9;
	/*position: absolute;*/
	bottom: 0;
}

.firstBlock-me, .secondBlock-me, .thirdBlock-me {
	margin-bottom: 20px;
}

<style>
 #sortable1, #sortable2 {
	 border: 1px solid #eee;
	 width: 142px;
	 min-height: 20px;
	 list-style-type: none;
	 margin: 0;
	 padding: 5px 0 0 0;
	 float: left;
	 margin-right: 10px;
 }
#sortable1 li, #sortable2 li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 120px;
}

.dovidnyk div {
	margin: 2px;

}

/*.firstBlock-me {
	 background-color: #EBF5F7;

 }

.secondBlock-me {
	 background-color: #FFF1D3;

 }

.thirdBlock-me {
	background-color: #EBF5F7;

}
*/